.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
build/
dist/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager / Build
.swiftpm/
.build/

# Archives
*.xcarchive

# Coverage / Profiling
*.profraw
*.profdata

# Logs
*.log

# Disk images
*.dmg

# Carthage / CocoaPods (not used)
Carthage/Build/
Pods/
*.ruby-version
